.header {
  height: 50px;
  border-bottom: solid 5px #0aa5df;
}
.header img {
  width: 100px;
  float: left;
  margin-left: 40px;
  margin-top: 5px;
}
.header span,
.header a {
  float: right;
}
.header span {
  line-height: 50px;
  color: #333;
  font-size: 14px;
}
.header a {
  background: #0aa5df;
  color: #fff;
  width: 37px;
  height: 30px;
  display: block;
  line-height: 30px;
  text-align: center;
  margin: 10px 25px 1px 35px ;
}
#form {
  width: 1000px;
  height: 500px;
  margin: 50px auto;
}
#form div {
  line-height: 20px;
  position: relative;
  padding: 10px 5px;
}
#form input {
  margin: 0 5px;
  height: 20px;
}
#form .pwd1,
#form .pwd2 {
  margin-left: 14px;
}
#form .tel {
  margin-left: 27px;
}
#form .strength {
  display: none;
  position: absolute;
  left: 80px;
  bottom: -10px;
  color: #fff;
}
.strength span {
  height: 19px;
  width: 54px;
  margin-right: 5px;
  text-align: center;
  background: #c0c0c0;
  display: inline-block;
}
.strength span.background-1 {
  background: #8ec63f;
}
.strength span.background-2 {
  background: #0cc440;
}
#form .tex {
  width: 100px;
}
#form button {
  line-height: 20px;
  width: 70px;
  height: 20px;
  margin: 2px 0;
  text-align: center;
}
#form .sum {
  height: 30px;
  text-align: center;
  width: 50px;
  margin-left: 80px;
  background: #0aa5df;
  border: none;
}
.msg img {
  width: 15px;
  margin-right: 5px;
}
